GROQ_API_KEY="groq-api-key"
GROQ_URL="https://api.groq.com/openai/v1"

GOOGLE_API_KEY="google-api-key"
GOOGLE_URL="https://generativelanguage.googleapis.com/v1beta/openai/"

NVIDIA_API_KEY="nvidia-api-key"
NVIDIA_URL="https://integrate.api.nvidia.com/v1"

Z_API_KEY="z-api-key"
Z_URL="https://api.z.ai/api/paas/v4/"

OPENROUTER_API_KEY="openrouter-api-key"
OPENROUTER_URL="https://openrouter.ai/api/v1/chat/completions"

NAGA_API_KEY="naga-api-key"
NAGA_URL="https://api.naga.ac/v1"

TAVILY_API_KEY="tavily-api-key"
